#banner {
    margin:0;
    padding:1px 0;
    background-color:#3D61CC;
    color:white;
    font-size:1rem;
    line-height: 1.25;
    font-weight:bold;
    margin-bottom:-1rem;
    border-radius: 50px;
    border:2px dashed white;
}
#banner h1 {
    background: transparent;
    font-size: 1.5rem;
    padding: .25rem 0;
}
.noshow {
    display:none;
}
header { 
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 50px 50px 5px 5px;
    margin-bottom: -1rem;
    
    
}
.headings {
    display:flex;
    flex-direction: column;
    
}

.motto p {
    text-align: right;
    margin-right:1.5rem;
    color:white;
    font-style:italic;
    margin-top:-1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
    
}
a {
    text-decoration: none;

}


.logo {
    border-radius:50px;
    margin-right:.25rem;
    max-width:75px;
    max-height:75px;
    
}
nav ul.hide {
    display: none;
}
nav {
    background-color:#7A8FCC;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    margin:0;
    margin-top:-1rem;
  /*  text-align: left;*/
    
    
}
nav button {
    border: none;
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    
}
nav ul {
    list-style-type: none;
    padding:0;
    overflow: hidden;   
    margin:0;
    
    
    
}
nav ul li.menu {
    display: none;
    
}
nav ul li a {
    display: block;
    text-decoration:none;
    padding: 1rem 2%;
    color: #17244D;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    
    

}
nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
nav ul li a:hover {
    background-color:#596895;
    color:white;
}
body {
    
    
    font-family: 'Merriweather Sans', sans-serif;
    color: #3D61CC;
    text-align:center;
    
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem auto;
    max-width:1020px;
    padding:0 .5rem;
    text-align: center;
    position: relative;
    
   

}
.hero {
  
    
}
.contentbox {
    
    margin-bottom:1rem;
    position:relative;
}

 article {
   
    text-align:left;
    display:flex;
    flex-direction: column-reverse;
    border:1px solid #17244D;
    background-color: rgba(122,143,204,0.3);
    padding:.75rem;
    max-width:1020px;
    margin:0 auto;
}
 article h4 {
    text-align: left;
    margin-bottom: -.5rem;
    

    
    
}
article p {
    text-align: justify;
    text-justify: inter-word;
   
    
}
.articleimage {
    max-width: 100%;
    margin: 0 auto;
}
 p.author {
     color:#17244D;
     font-size: .75rem;
     text-align:left;
     margin-left:.75rem;
     
 } 
 
.city {
    margin-top:-.25rem;
    

}
.contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:.5rem;
    padding: 1.25rem;
    margin:0 -.5rem;
    margin-bottom: -1rem;
    text-align:left;
    border:1px solid #17244D;
    background-color: rgba(122,143,204,0.3);

}
.contactinfo ul li {
    list-style-type: none;
    
    
    
}
.socialmedia {
    display:flex;
    flex-direction: row;
    margin:0;
    padding:0;
    

}
.contactinfo ul {

}
/*.contactinfo {
    display: flex;
    flex-wrap: wrap;
}
.contactinfo>* {
    margin:0 10px;
    flex: 1 1 200px;
}
*/
.map {
   /* grid-column: span 2;
    max-width:90%;
    margin:auto;*/
display: none;
}

.summary {
    position:absolute;
    top:1.25rem;
    left:1.25rem;
    margin:0;
    width:150px;
    height:150px;
   /* background-color:#7A8FCC;*/
    background:radial-gradient(#7A8FCC,#263D80);
    
    /*background-color:#596895;*/
   /* background:radial-gradient(#7A8FCC, #596895);*/
    font-weight:bold;
    padding:.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .25rem;
    border: 1px solid #17244D;
    opacity: .9;
    box-shadow:0 0 30px #111;
    
    
}
.summary h3 {
    border:1px solid #17244D;
    padding:.5px 0;
    margin:.25rem .5rem;
    grid-row:1;
    grid-column:1/3;
    
}
.summary p {
    /*background-color: white;#3D61CC;*/
    color:  white;
    font-size: 1rem;
    line-height:1.25;
    text-align:right;
    
    margin:0;
   
    

}

#current {
    grid-row:2;
    grid-column: 2;
    
}
#temp {
    grid-row:3;
    grid-column: 2;;
}
#feelslike {
    grid-row:4;
    grid-column:2;

}
#humidity {
    grid-row:5;
    grid-column:2;

}
#windspeed {
    grid-row:6;
    grid-column:2;
}
.summary span {
    text-align:left;
    color:  white;
    font-size: 1rem;
    line-height:1.25;
    margin: 0;
    
}

.forecast {
    display:none;

}

header, footer {
    background-color: #263D80;
    margin: 1rem auto;
    
}
footer {
    color:white;
    padding: .5rem 0;
    text-align:center;
    border-radius: 5px 5px 50px 50px;
    max-width:1020px;
    font-family: 'Merriweather', serif;
}
footer a {
    color: white;
}
footer a:hover {
    background-color: #7A8FCC;
}
h1 {
    color:white;
    background-color:#263D80;
    font-family: 'Merriweather', serif;
}
h2, h3, h4 {
   
    font-family: 'Merriweather', serif;
    text-align:center;
}
h2 {color:#263D80;}
h3  {background-color:#7A8FCC;
    color:#17244D;}
h4 {color:#263D80;}
.heroimage {
    max-width: 100%;
    max-height:100%;
    border: 1px solid #263D80;
    
}















/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }