table {
    
    box-shadow: 10px 10px 10px #628ca6;
    font-family: "Ubuntu", sans-serif;
    border-collapse: collapse;
    
}
tbody {
    background-color:#e7f0ed;
    font-size:19px;
    


}

table, thead, th, td {
    border: 2px solid #b9bbbb;;

}


th, td {
    padding: 8px 12px;
    text-align:center;
}
tbody tr:nth-child(even){
    background-color:#e7ffed;
    
}
thead {
    background-color: #7fb9c2;
    font-size: 30px;
   font-weight: bold;
    
}
tfoot {
    background-color: #7fb9c2;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 10px;
    
}
.white {
    background-color: #628ca6;
    color:white;
}