@media only screen and (min-width:60em) {
    
    
    /*#banner {
        /*font-size: 2.25rem;
        
    }*/
    nav button {
        display: none;
    }
   
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
    nav ul {
        padding-left:1rem;
        padding-right:1rem;
        
        
        
    }
    nav ul li.menu {
        display: block;
        /*border-left:1px solid rgba(0,0,0,0.3);*/
    }
    nav ul li {
        float:left;
        
        
    }
    
    nav ul li a {
        border: none;
        padding: .6rem 1.5rem;
       /* border-right: 1px solid rgba(0,0,0,0.3);*/
       
    }
    nav ul.hide {
        display: block
    }
    .summary {
        top:2.5rem;
        left:5rem;
        margin:0 auto;
        width:300px;
        height:250px;
     
      
        
        
    }

    .summary p, .summary span {
        font-size: 1.5rem;
        line-height:1;
        margin-left: 1rem; 
             
        margin-top:.5rem;
    }

   
    .summary h3 {
        padding-top: .5rem;
     }
    .city {
        font-size:2.5rem;
        margin-top:.5rem;
    }
    .logo {
        max-width:100%;
        max-height:100%;
    }
    .headings h1 {
        font-size: 3rem;

    }.motto p {
        margin-top:-1rem;
        font-size:1.5rem;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;

    }
   /* .gallery picture:hover {
        box-shadow: 0px 0px 30px #888888;
    }*/
    .photobox:hover {
        box-shadow: 0px 0px 30px #888888;


        div.townInfo {
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-gap: 1rem;
            padding: 1rem;
            width:980px;
            box-shadow: 0 5px 10px 5px #263D80;
        }
        
        div.townInfo section {
            display: grid;
            grid-template-columns: 1fr;
            /*width: 300px;*/
            box-shadow: 5px 10px 5px #263D80;
            
        }div.townInfo section div {
            margin-top:-.5rem;
        }
        
        /*div.townInfo section:nth-child(even) img{
            float:clear;
        
        }
        div.townInfo section:nth-child(odd) img{
          float:clear;}*/
        div.townInfo img {
            width:100%;
            padding-bottom: 1rem;
        }
        
            }

    }
    /* nav {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ff3232+0,aa0000+100 */
      /*  background: #1e5799; /* Old browsers */
        /*background: -moz-linear-gradient(top, #1e5799 0%, #ff3232 0%, #aa0000 100%); /* FF3.6-15 */
        /*background: -webkit-linear-gradient(top, #1e5799 0%,#ff3232 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
        /*background: linear-gradient(to bottom, #1e5799 0%,#ff3232 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
        

    }