

    /*============================================================================================================*/  
      /*============================================================================================================*/   
       /*============================================================================================================*/

header { 

    flex-direction: row;

    border-bottom: 2px solid $orange;

    border-top: 4px solid $ltBlue;
    
    

}

.logo {

    border-bottom: none;

    border-top: none;

    margin-left:.25rem;

    margin-top:.25rem;

    margin-bottom:.25rem;

}



nav.topNav button{

    display: none;

}

nav.topNav {

    border-top:none;

    max-width:1020px;

    margin:auto;
    
    
}

#topNav {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

    border:none;

    align-items:center;

    align-content:space-between;

    justify-items:center;

    justify-content:space-between;

}

nav.topNav ul li{

    border: none;

    justify-self: center;

    font-size: 1rem;
        
}

nav.topNav ul li a {

   padding: .5rem 1.5rem;

}

    
div.call {

    right:55px;

    bottom:80px;

}

.contactForm {

    font-size:1rem;

}

section.testimonials {

    font-size: 1.75rem;

}

div.type2 img {

    max-width:100%;
}

form {

    font-size:1rem;

}

/*==========================================================TRIPADVISOR================================================*/
    /*============================================================================================================*/

.trips section {

    display: flex;

    flex-direction: row;

    padding: .75rem;

}

.trips section img {

    margin-left: .5rem;
    
    
}

.trips section div {

    padding:.5rem;

    margin: 0 auto;
    
}
